{% load inventory_filters %}
{% if items %}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Type</th>
            <th scope="col">Location</th>
            <th scope="col">In stock?</th>
        </tr>{% for item in items %}
        <tr>
            <td><a href="itemdetail/{{ item.pk }}" rel="modal:open">{{ item.name }}</a></td>
            <td>{{ item.item_type }}</td>
            <td title="{{ item.location_detail }}">{{ item.location }}</a></td>
            <td>{{ item.in_stock|iconbool }}</td>
        </tr>{% endfor %}
    </thead>
</table>




{% else %}
  <h2>No items found.</h2>
{% endif %}