{% extends "base.html" %}
{% block content %}
    <div class="d-flex flex-column align-items-stretch bg-white" style="width: 100%;">
        <p class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"><use xlink:href="#grid"/></svg>
            <span class="fs-5 fw-semibold">Choose category</span>
        </p>
        <div class="border-bottom scrollarea">
            <div class="row row-cols-1 row-cols-md-3 g-3 text-center" style="width: 80%;">
                <div class="col category-button">Cat1</div>
                <div class="col category-button">Cat2</div>
            </div>
        </div>
    </div>
{% endblock %}